@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #F6F7F9;
    padding-bottom: 100px;
}

ul {
    list-style-type: none;
    /* margin: 0;
    padding: 0; */
    text-decoration: none;
    box-sizing: border-box;
    color: #646363;
}

.container {
    display: flex;
    position: relative;
}

.navbar {
    width: 250px;
    height: 100%;
    background: white;
    padding: 30px 0px;
    position: fixed;
    font-size: 14px;
    color: #646363;
}

.navbar img {
    margin-right: 10px;
}

.logo {
    width: 136px;
    height: 67px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.navbar a {
    text-decoration: none;
    color: #666666;
}
.navbar ul li {
    padding: 15px;
}

.navbar ul li a {
    color: 666666;
    display: block;
}

.navbar ul li:hover a{
    color: #1D817F;
}

.navbar img {
    vertical-align: middle;
}

.maincontainer {
    width: 100%;
    margin-left: 250px;
}

h1 {
    padding: 20px;
    background: #1D817F;
    color: white;
    font-size: 20px;
}

.sectionhead {
    margin-top: 35px;
    margin-bottom: 20px;
    padding-left: 30px;
}

.questions {
    color: #646363;
    line-height: 25px;
    background: white;
    padding-left: 30px;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;  
    display: flex;
}

.termdef {
    width: 405px;
    display: flex;
    flex-direction: column;
    margin-left: auto; 
    margin-right: 0;
    border-left: 2px solid #F6F7F9;
}

.term {
    padding: 20px;
    background: rgba(246, 247, 249, 0.5);
    /* margin-top: 20px; */
}

.companyname {
    margin-top: 20px;
}

.industry {
    margin-top: 500px;
}

.founders {
    margin-top: 280px;
}

.foundername {
    margin-top: 20px;
}

.termdef h4 {
    color: #1D817F;
    font-size: 15px;
}

.termdef p {
    color: #333E49;
    font-size: 14px;
}

.questions ol {
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
    line-height: 50px;
}

input {
    width: 941px;
    height: 40px;
    text-indent: 2%;
    border: 0.5px solid #333E49;
}

.continue {
    background: #1D817F;
    border-radius: 4px;
    width: 200px;
    display: block;
    padding: .5em;
    text-decoration: none;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 20px;
    position: relative;
    z-index: 4;
    text-align: center;
    color: white;
}

.sectionhead {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.sectionheadtext {
    margin-left: 20px;
    color: #124F4E;
}

.yesno {
    display: flex;
    flex-direction: row;
}

.yesno p {
    margin-left: 15px;
}

.yesno img {
    width: 24px;
}

.usericon {
    background: #F6F7F9;
    border-radius: 4px;
    width: 220px;
    display: flex;
    padding: .5em;
    text-decoration: none;
    margin-top: 40px;
    margin-left: 15px;
    position: relative;
    z-index: 4;
}

.rightarrow {
    display: inline-block;
    vertical-align: middle;
    margin-left: 65px;
}

.downarrow {
    display: inline-block;
    vertical-align: middle;
    margin-left: 11px;
}


.mc input {
    width: 20px;
    margin-right: 20px;
    margin-top: -3px;
    vertical-align: middle;
}

  
.mc input[type=radio]:checked ~ label{
    color: #1D817F;
}

